{{#unless searchh}}
  {{> preloader}}
{{/unless}}
{{> loggedNavbar}}

<body>           
    <main>
      <div class="bg-home-container"></div>
      <div class='container text-center' style="margin-top:4%">
        <div class='row align-items-start'>
          <div class='col-5'>
            <div class="bg-header"></div>
            <p class="lead" style='top:25vh; text-align: center; max-width:501px; font-size:18px; color:var(var(--grey-color)); font-family: Poppins'>
              Good to see you <b>{{user}}</b> !</p> 
            {{!-- <h1 class="display-1" style='text-align: center; font-family: Lora'>TITULO TITULO</h1> --}}
          </div>
      {{#unless searchh}}
        <div class="col-12" style="padding-top: 2%;">
          <h3 class="display-3" style='text-align:center; font-family: Lora; font-weight: 400; font-size: 56px; color:var(--dark-color)'>What suits you best</h2>
          <p class="lead" style='font-family: Poppins; font-weight: 400; font-size: 18px; color:var(--grey-color)'>The site for those looking for the best place to live</p>
      </div>
      {{/unless}}
      

      <form class="row align-items-center" style="padding-top: 5%; padding-bottom: 5%; margin-left: 1%">

      {{!-- DROPDOWNS --}}
      <div class="row align-items-center" style="padding-top: 5%; padding-bottom: 5%; margin-left: 1%">

        <div class="col" style="align-items: center; padding">
          <div class="btn-group" style="align-items: center;">
            <button id="typeDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Type of Home
            </button>
            <ul class="dropdown-menu typeOfHome_menu" aria-labelledby="typeDropDown">
              <li><a class="dropdown-item item-type" data-value="house" id="A">House</a></li>
              <li><a class="dropdown-item item-type" data-value="apartment" id="B">Apartment</a></li>
              {{!-- <li><a class="dropdown-item item-type" data-value="Both" id="C">Both</a></li> --}}
            </ul>
          </div>
        </div>

        <div class="col" style="align-items: center;">
          <div class="btn-group" style="align-items: center;">
            <button id="locationDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Location
            </button>
            <ul class="dropdown-menu location_menu" aria-labelledby="locationDropDown">
              {{#each drpdwnOpts}}
                <li><a class="dropdown-item item-location" id="A">{{this}}</a></li>
              {{/each}}
              
              {{!-- <li><a class="dropdown-item item-location" id="B">Cuahutemoc</a></li>
              <li><a class="dropdown-item item-location" id="C">Coyoacán</a></li> --}}
            </ul>
          </div>
        </div>

        <div class="col" style="align-items: center;">
          <div class="btn-group" style="align-items: center;">
            <button id="petDropDown" class="btn btn-secondary dropdown-toggle btn-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Poppins;">
              Pet Friendly
            </button>
            <ul class="dropdown-menu" aria-labelledby="petDropDown">
              <li><a class="dropdown-item item-pet" id="1">Yes</a></li>
              <li><a class="dropdown-item item-pet" id="0">No</a></li>
              {{!-- <li><a class="dropdown-item item-pet" id="C">Both</a></li> --}}
            </ul>
          </div>
        </div>


        <div class="col" style="align-items: center; padding">
          <div class="btn-group" style="align-items: center;">
            <button id="submitSearchBtn" class="btn btn-secondary btn-dropdown" type="button" aria-expanded="false" style="font-family: Poppins;">
              Search Homes
            </button>
          </div>
        </div>

      </form>

      </div>
      {{!-- DROPDOWNS END --}}

          {{!-- ximena  --}}
          {{#if searchh}}
            {{#each mySrch}}
            {{> homes}}
            {{/each}}
          {{else}}
            {{#each homes}}
            {{> homes}}
            {{/each}}
          {{/if}}
          {{!-- ximena  --}}


          {{!-- REVIEWS  --}}
          <div class="bg-reviews" style="margin-top: -15%;"></div>
          <div class='row align-items-start' style="padding-top:20%">
            <div class='col-5' style="width:553px; height:768px;">
              <img src="../images/reviews.jpg" class="img-fluid" alt="homepage image">
            </div>
            <div class='col-6' style="transform:translateY(-10vh)">
              <h1 id="reviews" class="display-1" style='padding-top:60%; padding-left:10%; text-align:left; font-family:Lora; font-size:56px'>What Our Happy Clients Say</h1>
              <p class="lead" style='margin-top:5%; padding-left:12%; top:45vh; text-align:left; max-width:450px; font-size:15px; color:var(--grey-color); font-family:Poppins'>"{{reviews.[0].description}}"</p>
              <div class="container" style="display: flex; justify-content: left;">
                <p class="lead" style='margin-top:5%; padding-left:10%; top:45vh; text-align:left; max-width:450px; font-size:15px; color:var(--dark-green-color); font-family:Poppins; font-weight:600'>- {{reviews.[0].name}}</p>
            </div>
          </div>

          {{!-- NEWSLETTER  --}}
          <div class="container" style="padding-top: 20%; margin-bottom: 20%">
            <div class="row" style="max-width: 750px; margin:auto">
              <div class="col-sm-12">
                <div class="content">
                  <h1 style="font-family:Lora; color:var(--dark-green-color); font-size:56px">Join Our Newsletter</h1>
                  <h2 style="padding-top:5%; font-family:Poppins; color:var(--grey-color); font-size:16px">Sign up for
                    our email newsletter to get our latest news</h2>
                  <div class="input-group" style="padding-top:5%;">
                    <input type="email" class="form-control" name="" placeholder="Enter email">
                    <span class="input-group-btn">
                      <button class="btn" type="submit"
                        style="padding: 24px 71px; border-radius:0%; background-color:var(--dark-green-color); color:var(--light-color)">Subscribe</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </main>
  <div class="container-fluid" style="background-color: #E4EEE6;">
    ...
  </div>

  <script src='../../js/logout.js'></script>
  <script src='../js/search.js'></script>

</body>