<div class='col'>
  <div class='card' style='width: 18rem; margin-bottom: 2rem;'>
    <img src='{{image}}' class='card-img-top' alt="Home Image" style="max-width: 284px; max-height: 191px" />
    <div class='card-body'>
      <h5 class='card-title'>{{user.userName}}'s  {{typeOfHome}}</h5>
      <h6 class='card-title'>in {{location}}</h6>
      <p>{{pet}}</p>
      <p>Looking for 2 roomies</p>
      <a href="mailto:{{user.email}}" class="btn btn-primary btn-more-info">Contact owner</a><br>
      <small style="text-align: left;">An hour ago</small>
    </div>
  </div>
</div>